.navbar {
  background-color: grey;
  display: flex;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
}

.profile-image {
  height: 60px;
  border-radius: 50%;
}
